
  Title : <%= link_to article.title, article %>
  <br>
  Created On :  <%= article.created_at.strftime('%b %d, %Y') %>
  <br>
  Description : <%= article.description %>
  <br>
  <li>
  <%= link_to "back", articles_path %>|
<%= link_to "edit", edit_article_path(article) %>|
<%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" } %> </li>
  ------------------------------------------------------------------------------
  <br>